  /* * {
    box-sizing: border-box;
}   */
header{
    
    font-size: 30px;
    color:cornsilk;
    background-image: url(https://previews.123rf.com/images/grebeshkovmaxim/grebeshkovmaxim1805/grebeshkovmaxim180500461/100772701-computer-motherboard-background-with-circuit-board-electronic-elements-chip-electronic-pattern-for-c.jpg);
    background-size: cover;
}



header nav {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
}

nav a {
    padding: 14px, 20px;
    text-align: center;
    color:cornsilk;
}

#profile {
    background-image: url("https://vignette.wikia.nocookie.net/protomans-stuff/images/a/ac/Squidward.png/revision/latest?cb=20121121141336");
    width: 230px;
    height: 200px;
    background-position: center; 
    /* background-origin: border-box; */
    background-repeat: no-repeat;
    padding: 50px;
    /* margin-left: 600px;  */
    border: 10px groove brown;
}

.righty {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
     margin-left: 600px; 
     /* width: 75%;  */
     flex-wrap: wrap; 
    
   
   
}
.lefty {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 90px;
    padding: 10px;
    width: 25%;
    height: 100%;
    border-right: 5px solid blue;
}


